<!DOCTYPE html>
<html>
<head> 
<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" href="/main.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">

</head>
<body>
	<div class="ui fixed inverted menu">
		<div class="container">
			<div class="header item"><i class="world icon big"></i>Around The World</div>
				<a href="/" class="item"><i class="home icon"></i>Home</a>
				<a href="/blog/new" class="item"><i class="idea icon"></i>New Post</a>
		</div>
	</div>
